:root {
    --main-color: hsl(212, 36%, 90%);
    --secondary-color: hsl(212, 43%, 65%);
    --tertiary-color: hsl(208, 48%, 47%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, minmax(200px, 1fr));
    grid-template-areas:
        "one three"
        "four five"
        "two two"
        "two two"
        ". ."
        "six eight"
        "nine ten"
        "seven seven"
        "seven seven";
    grid-gap: 16px;
    margin: 16px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.grid-item h3 {
    font-size: 1.5rem;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#ten {
    grid-area: ten;
}

#seven,
#two {
    background-color: var(--tertiary-color);
}

@media only screen and (min-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, minmax(250px, 1fr));
        grid-template-areas:
            ". . . one"
            "two two three ."
            "two two four five"
            ". . . ."
            ". six seven seven"
            "eight nine seven seven"
            "ten . . .";
    }

    .grid-item h3 {
        font-size: 2rem;
    }
}
